@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.bg-status-0 {
  background-color: #fb9678;
}
.bg-status-1 {
  background-color: #8be78b;
}
.bg-status-2 {
  background-color: #03c9d7;
}
.bg-status-3 {
  background-color: #8be78b;
}
.bg-status-4 {
  background-color: #ff5c8e;
}
.border-color-open {
  border-color: #8be78b;
}
.border-color-closed {
  border-color: #e5e7eb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
